<div class="col-10 offset-1 about">
  <h1>About the application</h1>

  <p>
    The basketball quotes web application was built by <a href="https://github.com/devonproudfoot/">Devon Proudfoot</a> because of his love of basketball.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'devon.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Devon Proudfoot</h2>
      <br />
      <p>Devon Proudfoot received a Bachelors of Arts in History from Bowling Green State University in 2014 and Masters of Science in Information from the University of Michigan's School of Information in 2016.</p>
    </div>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />